{% extends 'header.html' %}

{% block content %}
    <h1 style="margin-top: 5%; font-size: 400%;" class="text-center" >Which best describes your inquery?</h1>

    <link href="/static/css/forms/form.css" rel="stylesheet">
    <div class="">
        <div class="row">
        <div class="col-md-6 tright hovercontainer">
            <img rel="preload" class="img-fluid rounded-circle hover image" src="/static/img/form/charity.JPG" alt="" width="300px" height="300px">
            <a href="organization">
                <div class="overlay top left" style="background-color: #008CBA;">
                    <p class="text textleft texttop">Project Request</p>
                </div>
            </a>
        </div>
         <div class="col-md-6 tleft hovercontainer">
            <img rel="preload" class="img-fluid rounded-circle hover image" src="/static/img/form/media.JPG" alt="" width="300px" height="300px">
            <a href="media">
                <div class="overlay top right" style="background-color: #CC444A;">
                    <p class="text textright texttop">Media Inquery</p>
                </div>
            </a>
        </div>
    </div>

    <div class="row" style="margin-bottom: 2%">
        <div class="col-md-6 tright hovercontainer">
            <img rel="preload" class="img-fluid rounded-circle hover image" src="/static/img/form/school.JPG" alt="" width="300px" height="300px">
            <a href="school">
                <div class="overlay left bottom" style="background-color: #F7C244;">
                    <p class="text textleft textbottom">Staring A Club</p>
                </div>
            </a>
        </div>
         <div class="col-md-6 tleft hovercontainer">
            <img rel="preload" class="img-fluid rounded-circle hover image" src="/static/img/form/other.JPG" alt="" width="300px" height="300px">
            <a href="other">
                <div class="overlay right bottom" style="background-color: #53A451;">
                    <p class="text textright textbottom">Other Inquery</p>
                </div>
            </a>
        </div>
    </div>
{% endblock %}