section.map {
  position: relative;
}
div.map-overlay {
    height: 80%;
    width: 30%;
    background: #CC444A;
    position: absolute;
    opacity: 0.9;/*add this*/
    top: 0;
    margin: 5%;
    left: 0px;
    z-index: 99;
    text-align: center;
    border-radius: 25px;
}

.map-overlay-text {
  margin-top: 30%;
  padding-right: 5%;
  padding-left: 5%;
  color: white !important;
  opacity: 1 !important;
}

@media screen and (max-width: 880px) {
  section.map {
    position: inherit;
  }

  div.map-overlay {
      height: 80%;
      width: 90%;
      padding-bottom: 5%;
      background: #CC444A;
      position: inherit;
      opacity: 1;/*add this*/
      top: 0;
      left: 0px;
      z-index: 99;
      text-align: center;
      border-radius: 25px;
  }
}
