{% extends 'base.html' %}

{% block content %}
	<header class="masthead text-center text-white">
		<div class="masthead-content">
			<div class="container">
				<h1 class="masthead-heading mb-0">Code For Change</h1>
				<h2 class="masthead-subheading mb-0">Innovate. Educate. Serve.</h2>
				<p class="description">Code For Change is a group of high school coders who work on free projects for
					local organizations. Our goal is to employ the programming talent at our school to innovate and make
					tangable change in our community.</p>
			</div>
		</div>
		<div class="bg-circle-1 bg-circle"></div>
		<div class="bg-circle-2 bg-circle"></div>
		<div class="bg-circle-3 bg-circle"></div>
		<div class="bg-circle-4 bg-circle"></div>
	</header>


	<div data-spy="scroll" data-target="#navbar" data-offset="0">
		<div id="overview">
			<section>
				<div class="container fade-in">
					<div class="row align-items-center">
						<div class="col-lg-5 order-lg-2">
							<div class="p-5">
								<img rel="preload" class="img-fluid rounded-circle scroll-enlarge"
								     src="/static/img/1.JPG" alt="">
							</div>
						</div>
						<div class="col-lg-7 order-lg-1">
							<div class="p-5">
								<h2 class="display-4 subhead">We work hard, so you don't have to</h2>
								<p class="home">Our experienced developers will work around the clock to create a
									software solution that will meet your needs, and reduce your workload, so you can
									get back to doing what you do best - serving the community.</p>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section>
				<div class="container fade-in">
					<div class="row align-items-center">
						<div class="col-lg-5">
							<div class="p-5">
								<img rel="preload" class="img-fluid rounded-circle scroll-enlarge"
								     src="/static/img/2.JPG" alt="">
							</div>
						</div>
						<div class="col-lg-7">
							<div class="p-5">
								<h2 class="display-4 subhead">Pro Bono</h2>
								<p class="home">For those who don't speak Latin, we'll do any project completely free.
									We also personally work with hosting and domain companies to ensure that these fees
									are as low as possible.</p>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section>
				<div class="container fade-in">
					<div class="row align-items-center">
						<div class="col-lg-5 order-lg-2">
							<div class="p-5">
								<img rel="preload" class="img-fluid rounded-circle scroll-enlarge"
								     src="/static/img/3.JPG" alt="">
							</div>
						</div>
						<div class="col-lg-7 order-lg-1">
							<div class="p-5">
								<h2 class="display-4 subhead">Helping you helps us</h2>
								<p class="home">Code For Change is more than just a team of developers - we are
									organization of ambitious students. Giving your local branch a project to work on
									helps those students further develop their Computer Science skills.</p>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>

		<section class="content-section bg-info text-white text-center services fade-in2" id="services">
			<div class="container">
				<div class="content-section-heading fade-in">
					<h1 class="display-4 subhead" style="padding-bottom: 5%">Our Services</h1>
				</div>
				<div class="row">
					<div class="col-lg-3 col-md-6 mb-5 mb-lg-0 fade-in">
              <span class="service-icon rounded-circle mx-auto mb-3">
                <i class="icon-screen-desktop"></i>
              </span>
						<h4>
							<strong>Web</strong>
						</h4>
						<p class="text-faded mb-0">Powerful, stunning websites</p>
					</div>
					<div class="col-lg-3 col-md-6 mb-5 mb-lg-0  fade-in">
              <span class="service-icon rounded-circle mx-auto mb-3">
                <i class="icon-screen-smartphone"></i>
              </span>
						<h4>
							<strong>Mobile</strong>
						</h4>
						<p class="text-faded mb-0">Technology on-the-go</p>
					</div>
					<div class="col-lg-3 col-md-6 mb-5 mb-md-0  fade-in">
              <span class="service-icon rounded-circle mx-auto mb-3">
                <i class="icon-graph"></i>
              </span>
						<h4>
							<strong>Data</strong>
						</h4>
						<p class="text-faded mb-0">Gain powerful insights</p>
					</div>
					<div class="col-lg-3 col-md-6  fade-in">
              <span class="service-icon rounded-circle mx-auto mb-3">
                <i class="icon-question"></i>
              </span>
						<h4>
							<strong>Other</strong>
						</h4>
						<p class="text-faded mb-0">Anything else we can do to help</p>
					</div>
				</div>
				<div class="row" style="padding-top: 5%;">
					<a href="/projects"
					   class="fade-in text-center btn btn-project-types btn-primary btn-xl rounded-pill mt-1">View Past
						Projects</a>
				</div>
			</div>
		</section>

		<section id="process">
			<div class="container" style="margin-top: 0%; padding: 5%;">
				<div class="content-section-heading fade-in">
					<h1 class="display-4 subhead text-center" style="padding-bottom: 5%;">The Process</h1>
				</div>
				<div class="row">
					<div class="timeline-centered">

						<article class="timeline-entry fade-in">
							<div class="timeline-entry-inner">
								<div class="timeline-icon bg-primary">
									<i class="entypo-feather"></i>
								</div>

								<div class="timeline-label">
									<h2>Reach Out</h2>
									<p>Contact us over email, phone or our contact form and give some brief details
										about what you are looking for in the project. We'll get back to you as soon as
										we can and set up a time for a meeting.</p>
								</div>
							</div>

						</article>


						<article class="timeline-entry left-aligned fade-in">

							<div class="timeline-entry-inner">
								<div class="timeline-icon bg-success">
									<i class="entypo-suitcase"></i>
								</div>

								<div class="timeline-label">
									<h2>Meeting</h2>
									<p>Next, we'll meet you in person to get a good feel of your needs for this project.
										We'll bring a rough sketch of what the project could look like based on your
										description.</p>
								</div>
							</div>

						</article>

						<article class="timeline-entry fade-in">

							<div class="timeline-entry-inner">
								<div class="timeline-icon bg-warning">
									<i class="entypo-suitcase"></i>
								</div>

								<div class="timeline-label">
									<h2>Project Work</h2>
									<p>We'll get right to work on the project. We'll keep in touch to ask any questions
										we may have.</p>
								</div>
							</div>

						</article>


						<article class="timeline-entry left-aligned fade-in">

							<div class="timeline-entry-inner">
								<div class="timeline-icon bg-danger">
									<i class="entypo-location"></i>
								</div>

								<div class="timeline-label">
									<h2>Critique</h2>
									<p>We always want to make sure the work we put out meets the needs of our clients,
										so we'd love to hear about any improvements you'd like us to make.</p>

								</div>
							</div>

						</article>


						<article class="timeline-entry fade-in">

							<div class="timeline-entry-inner">
								<div class="timeline-icon bg-info">
									<i class="entypo-camera"></i>
								</div>

								<div class="timeline-label">
									<h2>Deployment</h2>
									<p>Once you've approved our project, we'll get it in your hands immediately. Don't
										worry, we'll instruct you on how it works and we'll be available anytime to fix
										any issues that might arise.</p>
								</div>
							</div>

						</article>


						<article class="timeline-entry begin">

							<div class="timeline-entry-inner">

								<div class="timeline-icon"
								     style="-webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg);">
									<i class="entypo-flight"></i>
								</div>

							</div>
						</article>
					</div>
				</div>
			</div>

		</section>

		<section style="width:100%;margin-bottom: 0px" class="map fade-in" id="locations">
			<div class="map-overlay" style="margin-bottom: 0px;">
				<div class="map-overlay-text fade-in" style="margin-bottom: 0px;">
					<h2 class="display-4 subhead">Our Locations</h2>
					<p class="home">Don't see a location near you? Click below to learn about creating a Code For Change
						club.</p>
					<a href="/projects" class="text-center btn btn-project-types btn-primary btn-xl rounded-pill mt-1">Create
						A Club</a>

				</div>

			</div>
			<iframe style="width:100%" src="/map" height="700" frameBorder="0"></iframe>


		</section>
	</div>


	<div id="contact"
	     style="height: 100%; width:100%; margin: 0px; background: url('/static/img/extra/1.jpg') no-repeat center center fixed; background-size: cover; padding-top: 15%; padding-bottom: 15%;">
		<div style="display: block; color: white; width: 90%; margin-left: 5%; margin-right: 5%;">
			<style>
				#masterTable {
					border-collapse: separate;
					border-spacing: 10px 10px;
					background-color: transparent;
					width: 100%;
				}

				.has-error .help-block {
					display: block;
				}

				.help-block {
					font-size: small;
					color: red;
					margin: 0px;
					padding: 0px;
					display: none;
				}
			</style>
			<center><h1>Contact Us</h1></center>
			<form action="/contact/" method="post" id="masterTable">
				{% csrf_token %}
				<table style="width: 80%; margin-top: 5%; background-color: transparent; margin-left: 10%; margin-right: 10%;">
					<tbody>
					<tr style="max-height: 200px;">
						<td style="width: 38%; padding-right: 2%;">
							<div class="form-group {% if form.subject.errors %}has-error{% endif %}">
								<input name="firstName" class="form-control form" placeholder="First Name"
								       id="id_firstName"
								       type="text" required="required">
								<p class="help-block">This is incorrect.</p>

							</div>

							<div class="form-group {% if form.subject.errors %}has-error{% endif %}">
								<input name="lastName" class="form-control form" placeholder="Last Name"
								       id="id_lastName"
								       type="text" required="required">
								<p class="help-block">This is incorrect.</p>

							</div>

							<div class="form-group {% if form.subject.errors %}has-error{% endif %}">
								<input name="organization" class="form-control form" placeholder="Organization Name"
								       id="id_organization" type="text" required="required">
								<p class="help-block">This is incorrect.</p>

							</div>

							<div class="form-group {% if form.subject.errors %}has-error{% endif %}">
								<input name="email" style="margin-bottom: 0px;" class="form-control form"
								       placeholder="Email"
								       id="id_email" type="email"
								       required="required">
								<p class="help-block">This is incorrect.</p>

							</div>
						</td>


						<td style="width: 60%; margin: 0px; padding: 0px;">
							<div class="form-group {% if form.subject.errors %}has-error{% endif %}">
					<textarea name="comment"
					          style="padding: 0px; margin: 0px; width: 100%; height: 200px;"
					          type="text" class="form-control form" placeholder="Description"
					          required="required"></textarea>
								<p class="help-block">This is incorrect.</p>

							</div>
						</td>
					</tr>
					<tr style="margin-top: 20px;">
						<td colspan="2"><input type="submit" class="btn btn-primary btn-block" name="submit"
						                       value="Submit"/>
						</td>
					</tr>
					</tbody>
				</table>
			</form>
			<center style="margin-top: 3%;"><h4><a href="mailto:chscodeforchange@gmail.com" target="_top">chscodeforchange@gmail.com</a></h4></center>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	        crossorigin="anonymous"></script>
	<script type="text/javascript">
        $(function () {
            var doc = $(document);
            var fade = $('.fade-in');
            var fade2 = $('.fade-in2');
            var img = $('.scroll-enlarge');
            var icon = $('.service-icon');
            var circle = $('.bg-circle');
            var displayH = window.innerHeight;

            var scroll = doc.scrollTop();

            fade.each(function () {
                var $this = $(this);

                $this.css('opacity', (displayH + scroll - $this.offset().top) / ($this.height()));
            });

            fade2.each(function () {
                var $this = $(this);

                $this.css('opacity', 2 * (displayH + scroll - $this.offset().top) / ($this.height()));
            });

            img.each(function () {
                var $this = $(this);

                if ($(window).width() > 1100) {
                    var width = Math.min(300, Math.max(250, 400 * ((displayH + scroll - $this.offset().top) / ($this.height()))));
                    $this.css('max-width', width);
                    $this.css('margin-left', (300 - width) / 2)
                }
            });

            icon.each(function () {
                var $this = $(this);

                var width = Math.min(120, Math.max(60, 200 * ((displayH + scroll - $this.offset().top) / ($this.height()))));


                if ($(window).width() > 1100) {
                    $this.css('height', width);
                    $this.css('width', width);
                }
            });


            doc.on('scroll', function () {
                var scroll = doc.scrollTop();
                fade.each(function () {
                    var $this = $(this);

                    if ($(window).width() > 1100) {
                        $this.css('opacity', (displayH + scroll - $this.offset().top) / ($this.height()));
                    } else {
                        $this.css('opacity', 2 * (displayH + scroll - $this.offset().top) / ($this.height()));

                    }
                });

                fade2.each(function () {
                    var $this = $(this);

                    $this.css('opacity', 3 * (displayH + scroll - $this.offset().top) / ($this.height()));
                });


                img.each(function () {
                    var $this = $(this);


                    if ($(window).width() > 1100) {
                        var width = Math.min(300, Math.max(250, 400 * ((displayH + scroll - $this.offset().top) / ($this.height()))));
                        $this.css('max-width', width);
                        $this.css('margin-left', (300 - width) / 2);
                    }

                });

                icon.each(function () {
                    var $this = $(this);

                    var width = Math.min(120, Math.max(60, 200 * ((displayH + scroll - $this.offset().top) / ($this.height()))));

                    if ($(window).width() > 1100) {
                        $this.css('height', width);
                        $this.css('width', width);
                    }

                });

                circle.each(function () {
                    var $this = $(this);
                    $this.css('margin', scroll);
                });


            });
        });
	</script>
{% endblock %}