{% extends 'base.html' %}

{% block content %}
    <div class="container main-body">
      <!-- Page Heading -->
      <h1 class="display-1 headline">Our Projects
      </h1>
        
      <div class="row" style="margin-bottom: 5%">
        <div class="col-md-7">
          <a href="#">
            <img class="img-thumbnail" src="/static/img/passmaster.png" alt="">
          </a>
        </div>
        <div class="col-md-5">
          <h3>PassMaster</h3>
          <p>A versitile hall pass system designed in conjunction with <a href="https://www.exodusrefugee.org/">Carmel High School's</a> Administration. The school felt their previous hall pass method was combersome, inconsistant and inconvenient for students, teachers and administrators. Thus we created a comprehensive, cross-platform solution in order to assist the school. </p>
          <a href="https://passmaster.herokuapp.com" class="btn btn-primary btn-xl rounded-pill mt-1">View Project</a>
        </div>
      </div>

      <div class="row" style="margin-bottom: 5%">
        <div class="col-md-7">
          <a href="#">
            <img class="img-thumbnail" src="/static/img/sapphire.png" alt="">
          </a>
        </div>
        <div class="col-md-5">
          <h3>Sapphire Volunteer Management</h3>
          <p>A volunteer management and hour tracking system developed for <a href="https://www.exodusrefugee.org/">Exodus Refugee Immigration Inc</a>. This organization expressed that their current paper-and-pencil system for tracking volunteers is very labor intensive, requiring a staff member to pend hours a week crunching the numbers. Our solution not only makes it easier for volunteers to find potentinal opportunities, it also allows organizations to track the hours performed by each volunteer.</p>
          <p></p>
          <p>This project won the $12,000 <a href="https://www.lead2feed.org/updates/program-announcements/">Lead2Feed Grand Prize</a> in 2018, $10,000 of which was donated to Exodus.</p>
          <a href="https://sapphire-web.herokuapp.com" class="btn btn-primary btn-xl rounded-pill mt-1">View Project</a>
        </div>
      </div>

      <div class="row" style="margin-bottom: 5%">
        <div class="col-md-7">
          <a href="#">
            <img class="img-thumbnail" src="/static/img/hiliteapp.png" alt="">
          </a>
        </div>
        <div class="col-md-5">
          <h3>HiLite Newspaper App</h3>
          <p>An iOS and Android application that display stories from the <a href="https://hilite.org/">HiLite Newspaper</a>, the official school Newspaper of Carmel High School. The app lets users view stories, search for content and browse the varoius categories of coverage available.</p>
          <p></p>
          <p>The app will soon be expanded to work for any newspaper using WordPress. Newspapers will be able to register their publication into the app through a simple web interface.</p>
          <a href="https://play.google.com/store/apps/details?id=com.hilite.newsapp&rdid=com.hilite.newsapp" class="btn btn-primary btn-xl rounded-pill mt-1">Android</a>
        </div>
      </div>
        
      <div class="row" style="margin-bottom: 5%">
        <div class="col-md-7">
          <a href="#">
            <img class="img-thumbnail" src="/static/img/icrc.png" alt="">
          </a>
        </div>
        <div class="col-md-5">
          <h3>Indiana Civil Rights Commission Complaint Form</h3>
          <p>An complaint form requrested by the <a href="https://www.in.gov/icrc/">Indiana Civil Rights Commission</a>. The organization stated that their current complaint form was very outdated and thus limited citizens ability to voice their concerns. This new version has a modern look and feel and gives citizens the flexibility to fill it out on their computer or mobile phone. </p>
          <a href="https://icrc-complaints.herokuapp.com" style="margin: auto;" class="btn btn-primary btn-xl rounded-pill mt-1">View Project</a>
        </div>
      </div>


      <div class="row" style="margin-bottom: 5%">
        <div class="col-md-7">
          <a href="#">
            <img class="img-thumbnail" src="/static/img/coding-clicker.png" alt="">
          </a>
        </div>
        <div class="col-md-5">
          <h3>Coding Clicker</h3>
          <p>A quick, fun 'Cookie Clicker' clone made for marketing purposes. Every time a user taps the Code For Change Logo on the website it contributes to the site's click number. We also have the website inform users that they have one a prize which can be redeemed at our club booth. This website has proven to be extreemely successful at club fairs, especially among children. </p>
          <a href="https://coding-clicker.herokuapp.com" style="margin: auto;" class="btn btn-primary btn-xl rounded-pill mt-1">View Project</a>
        </div>
      </div>
    </div>


    {% endblock %}
