{% extends 'base.html' %}
{% load static %}

{% block content %}

  <div class="container main-body-team" style="padding-top: 5%;">
    <h1 class="display-1 headline">Leadership Team</h1>

    <div class="row">
      <div class="column">
        <div class="card h-100">
          <img class="portrait" src="/static/img/armaan.jpg" alt="Armaan Goel">
<div class="card-body">            <h2 style="margin-top:1rem;">Armaan Goel</h2>
            <p class="title">President &amp; Founder</p>
            <p style="padding-bottom:8%">Armaan got the idea for the club when visiting a “civic hackathon” in Indianapolis: a 24 hour event where teams compete to find coding solutions to community problems. Besides Code for Change, he also participates in the HiLite Newspaper, Techounds Robotics Team, Science Olympiad, and Boy Scouts. In his free time he likes to program, bike and go camping.</p>
        <div style="position: absolute; bottom: 0px; left: 50%; transform: translate(-50%, 0);"> <a style="display: inline-block;" href="mailto:armaangoel78@gmail.com" target="_blank" class="btn btn-primary btn-xl rounded-pill2 mt-1">Contact</a></div>
            <div style="visibility: hidden; margin-top: 5%;display: flex; justify-content: center; align-items: center;"> <a style="display: inline-block;" href="mailto:andrewsleugh@gmail.com" target="_blank" class="btn btn-primary btn-xl rounded-pill2 mt-1">Contact</a></div>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card h-100">
          <img class="portrait" src="/static/img/evan.jpg" alt="Evan Kenyon">
<div class="card-body">            <h2 style="margin-top:1rem;">Evan Kenyon</h2>
            <p class="title">Vice President</p>
            <p>Evan assisted in starting the club when Armaan told him about the Civic Hackathons. Evan worked at an electronic health records company over this past summer doing coding. He is also the digital design officer of Rho Kappa, troubleshoot lead of Computer Building Club and he is participating in the school robotics team and Model UN. In his free time, he likes to hang out with his friends and family.</p>
            <div style="position: absolute; bottom: 0px; left: 50%; transform: translate(-50%, 0);"> <a style="display: inline-block;" href="mailto:evan.m.kenyon@gmail.com" target="_blank" class="btn btn-primary btn-xl rounded-pill2 mt-1">Contact</a></div>
            <div style="visibility: hidden; margin-top: 5%;display: flex; justify-content: center; align-items: center;"> <a style="display: inline-block;" href="mailto:andrewsleugh@gmail.com" target="_blank" class="btn btn-primary btn-xl rounded-pill2 mt-1">Contact</a></div>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card h-100">
          <img class="portrait" src="/static/img/jared.jpg" alt="Jared Stigter">
<div class="card-body">            <h2 style="margin-top:1rem;">Jared Stigter</h2>
            <p class="title">Chief Technology Officer</p>
            <p>When Jared's friend, Armaan, approached him with the
idea of a club dedicated to using coding skills to serve the community, Jared jumped on board. He has
been programming for several years and has developed a variety of skills. Besides Code For Change, Jared works part-time, develops for a
variety of projects, and enjoys computers,
games, and movies.</p>
                   <div style="position: absolute; bottom: 0px; left: 50%; transform: translate(-50%, 0);"> <a style="display: inline-block;" href="mailto:jaredstigter@gmail.com" target="_blank" class="btn btn-primary btn-xl rounded-pill2 mt-1">Contact</a></div>
            <div style="visibility: hidden; margin-top: 5%;display: flex; justify-content: center; align-items: center;"> <a style="display: inline-block;" href="mailto:andrewsleugh@gmail.com" target="_blank" class="btn btn-primary btn-xl rounded-pill2 mt-1">Contact</a></div>
          </div>
        </div>
      </div>

	    <div class="column">
        <div class="card h-100">
          <img class="portrait img-responsive" src="/static/img/joe.jpg" alt="Joseph Paavola">
          <div class="card-body">
            <h2 style="margin-top:1rem;">Joseph Paavola</h2>
            <p class="title">Lead Developer</p>
            <p class="card-text">Joe was offered a position when the club was first founded but declined due to prior commitments. When his schedule cleared up he immediately started to help build Code for Change's first major project: Sapphire. When he isn't debugging a Code For Change project, Joe competes in Science Olympiad, goes backpacking with his family and plays music with his brother.</p>
            <div style="position: absolute; bottom: 0px; left: 50%; transform: translate(-50%, 0);"> <a style="display: inline-block;" href="https://paavola.herokuapp.com/portfolio/code/" target="_blank" class="btn btn-primary btn-xl rounded-pill2 mt-1">Contact</a></div>
            <div style="visibility: hidden; margin-top: 5%;display: flex; justify-content: center; align-items: center;"> <a style="display: inline-block;" href="mailto:andrewsleugh@gmail.com" target="_blank" class="btn btn-primary btn-xl rounded-pill2 mt-1">Contact</a></div>
          </div>
        </div>
      </div>

       <div class="column">
        <div class="card h-100">
          <img class="portrait img-fluid" src="/static/img/andrew.jpg" alt="Andrew Sleugh">
          <div class="card-body">
            <h2 style="margin-top:1rem;">Andrew Sleugh</h2>
            <p class="title">Administrative Director</p>
            <p class="card-text">Andrew has worked with Code For Change since it first began. When it became clear that better communication and public relations would be vital to the club's development, Andrew stepped up to bat. He has been invaluable in keeping everyone in the loop and has helped keep the club growing. He is also a co-founder of the Carmel Quiz Bowl Chapter, Planetarium club leader and works at Laser Flash in his spare time. </p>
            <div style="position: absolute; bottom: 0px; left: 50%; transform: translate(-50%, 0);"> <a style="display: inline-block;" href="mailto:andrewsleugh@gmail.com" target="_blank" class="btn btn-primary btn-xl rounded-pill2 mt-1">Contact</a></div>
            <div style="visibility: hidden; margin-top: 5%;display: flex; justify-content: center; align-items: center;"> <a style="display: inline-block;" href="mailto:andrewsleugh@gmail.com" target="_blank" class="btn btn-primary btn-xl rounded-pill2 mt-1">Contact</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <!-- /.container -->
{% endblock %}